/* google font
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;  
    color  #00c0ff,        */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500&family=Roboto:wght@700;900&display=swap');

*{margin: 0; padding: 0%;}
html{scroll-behavior: smooth;}
body{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 17px;
    text-align: center;
    line-height: 1.6; color:lightgray;
    background-image: url(images/background.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
a{ font-weight: 500;}
h1, h2, h3, h4{font-family: 'Roboto', sans-serif;  
    font-weight: 700;
}

/*    ****basic css****     */
.container{
    padding: 0 15%;
}
a.theme-button{
    text-decoration: none;
    background-color:hotpink;
    color: white;
    font-weight: 500;
    text-transform: uppercase;
    padding: 16px 32px;
    display: inline-block;
    margin-top: 30px;
    border-radius: 50px;
    transition: 0.5s;
    margin: 25px;
}
a.theme-button:hover{
    background-color: white;
    color:rgb(248, 6, 127);
}

a.theme-button-small{
    text-decoration: none;
    background-color: hotpink;
    color: white;
    font-weight: 400;
    text-transform: uppercase;
    padding: 10px 20px;
    display: inline-block;
    margin-top: 30px;
    border-radius: 50px;
    transition: 0.5s;
    font-size: 14px;
}
a.theme-button-small:hover{
    background-color: white;
    color: rgb(248, 6, 127);
}
.section-heading{
    text-align: center;
    margin-bottom: 75px;
}
.section-heading h3{
    font-size: 16px;
    text-transform: uppercase;
    color:palevioletred;
}
.section-heading h2{
    text-transform: capitalize;
    color: white;
    font-size: 36px;
}



/*    ****header area css****     */
.header-area{
    padding: 45px;
}
.header-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo a{
    text-decoration: none;
}
.logo h1{
    color: white;
    text-transform: uppercase;
    font-size: 20px;
}

.menu-icon{
    display: none;
    cursor: pointer;
}
.icon{
    background-color:#1e1341;
    padding: 10px 15px 6px 15px;
}
.main-menu a{
    text-decoration: none;
    color: white;
    font-weight: 600;
    display: inline-block;
    padding: 5px;
    margin-left: 40px;
    transition: 0.5s;
}
.main-menu a:hover{
    color: palevioletred;
}



/*     *****hero area css*****     */
.hero-area{
    padding: 80px 0;
}
.hero-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.hero-text h2{
    font-size: 62px;
    color: white;
}
.hero-text p{
    font-size: 20px;
}



/*    *****about area css*****     */
.about-area{
    background-color: #1e1341;
    padding: 100px 0;
}
.about-content{
    display: flex;
    align-items: center;
}
.about-image{
    flex:1;
}
.about-text{
    flex:1;
}
.about-text h2{
    font-size: 36px;
    color: white;
    margin-bottom: 20px;
}

/*     *****port area CSS*****    */
.port-area{
    padding: 100px 0;
}
.port-content{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
}
.single-port{
    border-radius: 25px;
    background-color: rgba(247, 20, 171, 0.5);
    padding: 30px;
}
.single-port h3{
    font-size: 26px;
    text-align: center;
    color: white;
    margin-bottom: 15px;
}


/*    *****service area Css*****      */
.service-area{
    padding: 100px 0;
}
.service-content{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
}
.single-service{
    border-radius: 25px;
    background-color: rgba(247, 20, 171, 0.5);;
    padding: 30px;
}
.single-service h3{
    font-size: 26px;
    color: white;
    margin-bottom: 15px;
}




/*     *****contact area css*****     */
.contact-area{
    background-color: #1e1341;
    padding: 100px 0;
}
.contact-content form{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    grid-template-areas: 
    "f l"
    "e e"
    "p p"
    "m m"
    "s s";
}
.bb{
    border-radius: 10px;
}

/*    *****making the grid of form*****     */
#first-name{grid-area: f;}
#last-name{grid-area: l;}
#email-address{grid-area: e;}
#phone-number{grid-area: p;}
#message{grid-area: m;}
#send-message{
    grid-area: s;
    background-color: hotpink;
    cursor: pointer;
}
.contact-content input{
    font-size: 17px;
    padding: 12px;
    background-color: transparent;
    border: 1px solid  hotpink;
    color: white;
}
.contact-content textarea{
    font-size: 17px;
    font-family:'Open Sans', sans-serif;
    padding: 12px;
    background-color: transparent;
    border: 1px solid  hotpink;
    color: white
}



/*    *****footer area css*****      */
.footer-area{
    padding: 25px 0;
    text-align: center;
    background-color: hotpink;
    border-top: 1px solid rgb(248, 132, 190);
}


/* ******** Responsive CSS ****   for 991px**** */
/* Header area */
@media only screen and (max-width:991px){
    .container{
        padding: 0 10px;
    }
    .hero-text h2{
        font-size: 36px;
        color:rgb(250, 192, 245);
        margin-bottom: 20px;
    }
    .about-text h2{
        font-size: 32px;
        color:rgb(250, 192, 245);
        margin-bottom: 20px;
    }
    .section-heading h2{
        font-size: 32px;
        color:rgb(250, 192, 245);
        margin-bottom: 20px;
    }

    .menu-icon{
        display: block;
    }
    .header-content{
        display:grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: 
        "l i"
        "m m";
    }
    .logo{
        grid-area: l;
    }
    .menu-icon{
        grid-area: i;
        justify-self: end;
    }
    .main-menu{
        grid-area: m;
        text-align: center;
        background-color: #3a2b71;
        border-radius: 25px;
        margin-top: 10px;
        padding: 10px 0;
        display: none;
    }
    .show-menu.main-menu{
        display: block;

    }
    .main-menu a{
        display: block;
        padding: 10px;
        margin-left: 0;
    }

/* hero area */
.hero-content{
    flex-direction: column;
}
.hero-text{
    text-align: center;
}
.hero-image{
    order: -1;
}
.hero-image img{
    width: 100%;
}


/* about area */
.about-content{
    flex-direction: column;
    align-items: inherit;
}
.about-image img{
    width: 100%;
    margin-bottom: 25px;
}
.about-text{
    text-align: center;
}

/* portfolio area */
.port-content{
    grid-template-columns: repeat(1, 1fr);
}
.single-port{
    text-align: center;
}

/* service area */
.service-content{
    grid-template-columns: repeat(1, 1fr);
}
.single-service{
    text-align: center;
}
}


/*    *****Responsive CSS for 575px*****     */
@media only screen and (max-width:575px){
    .section-heading h2{
        font-size: 32px;
    }
    
    .hero-text h2{
        font-size: 32px;
        color:rgb(228, 94, 255);
        margin-bottom: 20px;
    }
    .about-text h2{
        font-size: 32px;
        color:rgb(228, 94, 255);
        margin-bottom: 20px;
    }
    .section-heading h2{
        font-size: 32px;
        color:rgb(228, 94, 255);
        margin-bottom: 20px;
    }
    .contact-content form{
        display: grid;
        grid-template-areas: 
        "f f"
        "l l"
        "e e"
        "p p"
        "m m"
        "s s";
    }
}